.lnk {
    color: #EFF6E0;
}

body {
    background-color: rgba(239, 246, 224, 0.5);
}


.btn {
    background-color: #598392;
    color: #01161E;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6, .navbar-brand {
    font-family: 'Belleza', sans-serif;
}

p, li, button {
    font-family: 'Open Sans', sans-serif;
}

.home-buttons {
    width: 12em;
    margin-left: 2em;
    margin-right: 2em;
    color: #01161E;
    font-family: 'Open Sans', sans-serif;
    font-size-adjust: inherit;
}

.flash-msg {
    color: red;

}

