{% extends 'base.html' %}
{% block title %}Account Homepage{% endblock %}

{% block head %}{% endblock %}

{% block body %}
  

<div class="container">
  <h1>Welcome {{ user.first_name }} {{ user.last_name }}!</h1>
  <br>
  <br>
  <div class="row">

    <div class="col-6">
      <div class="card favs" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">{{ list1.list_name }}</h3>
        </div>
    
        {% if list1_entries != "This list is empty!" %}
        {% for entry in list1_entries %}
        <ul class="list-group list-group-flush favs my-2"> <h5 class="card-title text-center">{{ entry.roaster.name }}</h5>
          <div class="d-inline">
            <li class="list-group-item favs d-flex pr-1">
              <div class="mr-auto">Rating: {{ entry.score }} 
                {% if entry.score == None %}
              </div>
                <button class="edit-fav-buttons edit-rating btn" style="display: none" id="{{ entry.entry_id }}">Add Rating</button>
                {% else %}
                <i class="fas fa-star"></i></div>
                <button class="edit-fav-buttons edit-rating btn" style="display: none" id="{{ entry.entry_id }}">Edit Rating</button>
                {% endif %}
                  <div class="form-group rating {{ entry.entry_id }}" style="display: none">
                    <select class="form-control rating rating-select {{ entry.entry_id }} my-2" id="{{ entry.entry_id }}">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                    </select>
                    <input type="submit" name="submit-new-rating" class="btn rating submit-rating {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
                    <button type="button" class="btn rating {{ entry.entry_id }} cancel-rating" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
                  </div>
                
            </li>
          </div>
            <li class="list-group-item favs d-flex pr-1">
              <div class="mr-auto"> Review: <div class="{{ entry.entry_id }} my-2" id="entry-review">{{ entry.note }}</div></div>
                {% if entry.note == None %}
                <button class="btn edit-fav-buttons edit-note ml-auto" style="display: none" id="{{ entry.entry_id }}">Add Review</button>
                {% else %}
                <button class="btn edit-fav-buttons edit-note ml-auto" style="display: none" id="{{ entry.entry_id }}">Edit Review</button>
                {% endif %}
                  <div class="form-group">
                    <!-- <label class="{{ entry.entry_id }} note" style="display: none">Please share your thoughts here:</label> -->
                    <textarea name="entry-note" class="my-2 form-control {{ entry.entry_id }} note text" style="display: none"> {{ entry.note }} </textarea>
                    <input type="submit" name="submit-new-note" class="btn submit-note note {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
                    <button class="btn {{ entry.entry_id }} note cancel-note" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
              </div>
                
            </li>
            <div class="d-flex">
              <button type="button" class="flex-fill edit-fav-buttons move btn m-1" style="display: none" id="{{ entry.entry_id }}">Move to Roasters List</button>
              <button class="flex-fill edit-fav-buttons delete btn m-1" style="display: none" id="{{ entry.entry_id }}" >Delete</button>
            </div>

          </ul>
        {% endfor %}
      
        <div class="card-body">
          <button type="button" class="edit-fav btn m-3" id="{{ list1.list_id }}" >Edit List</button>
        </div>
      {% endif %}
      {% if list1_entries == "This list is empty!" %}
        <div class="card-body">
          <p class="card-text">This list is empty!</p>
        </div>
      {% endif %}
      </div> <!-- card -->
    </div> <!-- column -->



    <div class="col-6">
      <div class="card favs" style="width: 100%;">
        <div class="card-header">
          <h3 class="card-title">{{ list2.list_name }}</h3>
        </div>

        {% if list2_entries != "This list is empty!" %}
        {% for entry in list2_entries %}
        <ul class="list-group list-group-flush favs my-2"> <h5 class="card-title text-center">{{ entry.roaster.name }}</h6>
          <div class="d-inline">
            <li class="list-group-item favs d-flex pr-1">
              <div class="mr-auto">Rating: {{ entry.score }}
                {% if entry.score == None %}
              </div>
                <button class="edit-roaster-buttons edit-rating btn" style="display: none" id="{{ entry.entry_id }}">Add Rating</button>
                {% else %}
                <i class="fas fa-star"></i></div>
                <button class="edit-roaster-buttons edit-rating btn" style="display: none" id="{{ entry.entry_id }}">Edit Rating</button>
                {% endif %}
                  <div class="form-group rating {{ entry.entry_id }}" style="display: none">
                    <select class="form-control rating rating-select {{ entry.entry_id }} my-2" id="{{ entry.entry_id }}">
                      <option>1</option>
                      <option>2</option>
                      <option>3</option>
                      <option>4</option>
                      <option>5</option>
                    </select>
                    <input type="submit" name="submit-new-rating" class="btn rating submit-rating {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
                    <button type="button" class="btn rating {{ entry.entry_id }} cancel-rating" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
                  </div>
                
            </li>
          </div>
            <li class="list-group-item favs d-flex pr-1">
              <div class="mr-auto">Review: <div class="{{ entry.entry_id }} my-2" id="entry-review">{{ entry.note }}</div></div>
                {% if entry.note == None %}
                <button class="btn edit-roaster-buttons edit-note ml-auto" style="display: none" id="{{ entry.entry_id }}">Add Review</button>
                {% else %}
                <button class="btn edit-roaster-buttons edit-note ml-auto" style="display: none" id="{{ entry.entry_id }}">Edit Review</button>
                {% endif %}
                  <div class="form-group">
                    <!-- <label class="{{ entry.entry_id }} note" style="display: none">Please share your thoughts here:</label> -->
                    <textarea name="entry-note" class="my-2 form-control {{ entry.entry_id }} note text" style="display: none"> {{ entry.note }}  </textarea>
                    <input type="submit" name="submit-new-note" class="btn submit-note note {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
                    <button class="btn {{ entry.entry_id }} note cancel-note" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
              </div>
            
            </li>
            <div class="d-flex">
              <button type="button" class="flex-fill edit-roaster-buttons move btn m-1" style="display: none" id="{{ entry.entry_id }}">Move to Favorites List</button>
              <button class="flex-fill edit-roaster-buttons delete btn m-1" style="display: none" id="{{ entry.entry_id }}" >Delete</button>
            </div>
          </ul>
          {% endfor %}
        
          <div class="card-body">
            <button type="button" class="edit-roasters btn m-3" id="{{ list1.list_id }}" >Edit List</button>
          </div>
        {% endif %}
        {% if list1_entries == "This list is empty!" %}
          <div class="card-body">
            <p class="card-text">This list is empty!</p>
          </div>
        {% endif %}
        </div> <!-- card -->
      </div> <!-- column -->


  </div> <!-- row -->
  
</div> <!-- container -->

{% endblock %}


<!-- Old lists code, shows as unordered lists without card
      <div class="col-6 m-2">
        <h3> {{ list2.list_name }}: </h3>

        {% if list2_entries != "This list is empty!" %}

        {% for entry in list2_entries %}
          <li> {{ entry.roaster.name }}- Rating: {{ entry.score }} Review: {{ entry.note }}</li>
          <button class="edit-roaster-buttons move btn btn-primary" style="display: none" id="{{ entry.entry_id }}">Move to Favorites List</button>
          <button class="edit-roaster-buttons delete btn btn-primary" style="display: none" id="{{ entry.entry_id }}">Delete</button>
            {% if entry.score == None %}
            <form>
              <button class="btn btn-primary edit-roaster-buttons edit-rating" style="display: none" id="{{ entry.entry_id }}">Add Rating</button>
              <input type="radio" name="new-rating" value="1" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">1</label>
              <input type="radio" name="new-rating" value="2" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">2</label>
              <input type="radio" name="new-rating" value="3" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">3</label>
              <input type="radio" name="new-rating" value="4" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">4</label>
              <input type="radio" name="new-rating" value="5" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">5</label>
              <input type="submit" name="submit-new-rating" class="rating submit-rating {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
            </form>
            <button type="button btn btn-primary" class="rating {{ entry.entry_id }} cancel-rating" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
              {% endif %}
            
            {% if entry.note == None %}
              <button class="btn btn-primary edit-roaster-buttons edit-note" style="display: none" id="{{ entry.entry_id }}">Add Note</button>
              <form>
                <label class="{{ entry.entry_id }} note" style="display: none">Please share your thoughts here:</label>
                <textarea name="entry-note" class="{{ entry.entry_id }} note text" style="display: none"> 
                </textarea>
                <input type="submit" name="submit-new-note" class="submit-note note {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
              </form>
              <button class="btn btn-primary {{ entry.entry_id }} note cancel-note" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
            {% endif %}

        {% endfor %}
        <button type="button" class="edit-roasters btn btn-primary m-3" id="{{ list2.list_id }}">Edit List</button>
        {% endif %}

        {% if list2_entries == "This list is empty!" %}
        <p>This list is empty!</p>
        <button type="button" class="btn btn-light"><a href="/roaster_directory">
          Start Exploring Minnesota Roasters
      </a></button>
        {% endif %}

      </div> 
    </div> 
  </div> 
   -->






<!-- <div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>My Lists</h2>
    </div>
  </div>

  <div class="row"> 
    <div class="col-6 m-2">
      <h3> {{ list1.list_name }}: </h3>

      {% if list1_entries != "This list is empty!" %}
      {% for entry in list1_entries %}
        <li> {{ entry.roaster.name }} - Rating: {{ entry.score }} Review: {{ entry.note }}</li>
        <button class="edit-fav-buttons move btn btn-primary m-1" style="display: none" id="{{ entry.entry_id }}">Move to Roasters List</button>
        <button class="edit-fav-buttons delete btn btn-primary m-1" style="display: none" id="{{ entry.entry_id }}">Delete</button>
          {% if entry.score == None %}
            <button class="edit-fav-buttons edit-rating btn btn-primary m-1" style="display: none" id="{{ entry.entry_id }}">Add Rating</button>
            <form>
            <input type="radio" name="new-rating" value="1" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">1</label>
            <input type="radio" name="new-rating" value="2" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">2</label>
            <input type="radio" name="new-rating" value="3" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">3</label>
            <input type="radio" name="new-rating" value="4" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">4</label>
            <input type="radio" name="new-rating" value="5" class="rating {{ entry.entry_id }}" style="display: none"> <label class="rating {{ entry.entry_id }}" style="display: none">5</label>
            <input type="submit" name="submit-new-rating" class="rating submit-rating {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
            </form>
            <button type="button" class="btn btn-primary rating {{ entry.entry_id }} cancel-rating" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
          {% endif %}
          {% if entry.note == None %}
            <button class="btn btn-primary edit-fav-buttons edit-note m-1" style="display: none" id="{{ entry.entry_id }}">Add Note</button>
            <form>
            <label class="{{ entry.entry_id }} note" style="display: none">Please share your thoughts here:</label>
            <textarea name="entry-note" class="{{ entry.entry_id }} note text" style="display: none">
            </textarea>
            <input type="submit" name="submit-new-note" class="submit-note note {{ entry.entry_id }}" id="{{ entry.entry_id }}" style="display: none"> 
            </form>
            <button class="btn btn-primary {{ entry.entry_id }} note cancel-note" style="display: none" id="{{ entry.entry_id }}">Cancel</button>
          {% endif %}
      {% endfor %}
      <button type="button" class="edit-fav btn btn-primary m-3" id="{{ list1.list_id }}" >Edit List</button>
    {% endif %}

    {% if list1_entries == "This list is empty!" %}
        <p>This list is empty!</p>
    {% endif %}
    </div>  -->