{% extends 'base.html' %}
{% block title %}Account Homepage{% endblock %}

{% block body %}
  <h1>Welcome Back {{ user.first_name }} {{ user.last_name }}!</h1>

  <h2>Saved Lists:</h2>
  
  {% for list in lists: %}
    <p> {{ list.list_name }} </p>


    {% for list in entries %}
      {% for entry in list %}
    <li> {{ entry.roaster.name }}- Rating: {{ entry.score }} Review: {{ entry.note }} </li>
      {% endfor %}
    {% endfor %}
    <button id="edit-list-btn">Edit This List</button>
  {% endfor %}

  <h2><button id="new-list-btn">Create New List</button></h2>
{% endblock %}