{% extends 'base.html' %}
{% block title %}New Account{% endblock %}

{% block body %}
  <h1>Join the fun!</h1>

  <h2>Create an account by entering your details below</h2>

  <form action="/new_user" method="POST">
    <p>First name:
        <input type="text" name="fname_create">
    </p>
    <p>Last name:
        <input type="text" name="lname_create">
    </p>
    <p> Email:
      <input type="text" name="email_create">
    </p>
    <p>Password:
      <input type="text" name="pw_create"> 
    </p>
    <p>
        <input type="submit" value="Create Account">
    </p>
  </form>
{% endblock %}