{% extends 'base.html' %}
{% block title %}Minnesota Roasted{% endblock %}

{% block body %}
  <div class="container text-center">
    <div class="row">
      <div class="col-12 m-2">
        <h1>Support Minnesota's Small Batch Coffee Roasters</h1>
        <h3>Great coffee from local Minnesotan coffee roasters? You Betcha!</h3>
        <h6>Have you missed getting to your favorite coffee shop due to COVID-19?
          Minnesota Roasted is here to help!</h6>
      </div>
    </div>


    <div class="row m-2">
      <div class="col-4">
        <p class="btn btn-light"><a href="/roaster_directory">View Minneapolis Coffee Roasters</a></p>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-4 ml-auto">
        <p class="btn btn-light"><a href="/login">Login To Your Minnesota Roasted Account</a></p>
      </div>
    </div>
    <div class="row m-2">
      <div class="col-4">
        <p class="btn btn-light"> <a href="/create_account">Create An Account With Us!</a></p>
      </div>
    </div>
  </div>

{% endblock %}