{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block body %}


  <div class="container text-center">
    <div class="row">
      <div class="col"></div>
      <div class="col align-self-center my-5">


  <form class="form-signin" action='login' method="POST">
    <svg width="4em" height="4em" viewBox="0 0 16 16" class="bi bi-cup" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M1 2a1 1 0 0 1 1-1h11a1 1 0 0 1 1 1v1h.5A1.5 1.5 0 0 1 16 4.5v7a1.5 1.5 0 0 1-1.5 1.5h-.55a2.5 2.5 0 0 1-2.45 2h-8A2.5 2.5 0 0 1 1 12.5V2zm13 10h.5a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.5-.5H14v8zM13 2H2v10.5A1.5 1.5 0 0 0 3.5 14h8a1.5 1.5 0 0 0 1.5-1.5V2z"/>
    </svg>
  <h1 class="h3 mb-3 font-weight-normal">Login to Account</h1>
  {{ form.csrf_token }}
  <label for="email" class="sr-only"></label>
  {{ form.email(class_="form-control", placeholder="Email Address") }}
    
  <label for="pasword" class="sr-only"></label>
  {{ form.password(class_="form-control", placeholder="Password") }}

  <button class="btn btn-lg btn-block" type="submit">Login</button>
  
  </form>
</div>
<div class="col"></div>
</div>
</div>


{% endblock %}

<!-- <form action='/login' method="POST">
  {{ form.csrf_token }}
  {{ form.email }}
  {{ form.password }}
    <input type="text" name="user_email_login"> Enter your email
    <input type="text" name="user_password_login"> Enter your password 
    <input type="submit" name="submit_user_login"> -->