{% extends 'base.html' %}
{% block title %} {{roaster.name}} Details {% endblock %}

{% block body %}
  <h1> {{roaster.name }} </h1>

  <p> {{ roaster.address }} </p>
  <p> {{ roaster.phone_number }} </p>
  <p> {{ roaster.website }} </p>
  <p> Average User Rating: {{ avg_rating }} </p>
  <p>Daily Hours:</p>
    {% for day in schedule %}
    <p>{{ day }}</p>
    {% endfor %}

<button class="add" id="{{ roaster.roaster_id }}"> Add to My Favorites List </button>
<button class="add" id="{{roaster.roaster_id }}"> Add to My Roasters List</button>


{% endblock %}