{% extends 'base.html' %}

{% block title %}Roaster Directory{% endblock %}


{% block head %}Nav Bar{% endblock %}

{% block body %}
<h1>Minnesota Roasters Directory</h1>

<div class="container">

  <div class="row m-5">
    <button class="btn btn-primary" id="filter-button">Filter</button>
    <form action="/roaster_directory">
      <input type="radio" name="rating-filter" value="3" class="rating-filter" style="display: none"> <label class="rating-filter" style="display: none">3+</label>
      <input type="radio" name="rating-filter" value="4" class="rating-filter" style="display: none"> <label class="rating-filter" style="display: none">4+</label>
      <input type="radio" name="rating-filter" value="5" class="rating-filter" style="display: none"> <label class="rating-filter" style="display: none">5+</label>
      <input type="submit" name="submit-rating-filter" class="rating-filter rating-filter-submit" id="" style="display: none" value="Apply">
    </form>
  </div>



</div>

  <div class="row">

    {% for roaster in roasters %}

      <div class="card m-2 text-center border-dark" style="width: 18rem;">
        <img src="https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyA7kGblloOwNaoFbgZlb3DNRaz-SxRG7SI&maxwidth=800&photoreference={{ roaster.image }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{ roaster.name }}</h5>
          <p> {{roaster.address }} </p>
          <a class="btn btn-dark" href="/roaster_directory/{{ roaster.roaster_id }}" class="card-link">Details</a>
        </div>
      </div>

    {% endfor %}
  </div>





{% endblock body %}
