{% extends 'base.html' %}
{% block title %} {{roaster.name}} Details {% endblock %}

{% block head %}
<script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA7kGblloOwNaoFbgZlb3DNRaz-SxRG7SI&callback=initMap&libraries=&v=weekly"
      defer
    ></script>

<style>
  #map {
        height: 200px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
</style>
<script>
  // Initialize and add the map
  function initMap() {
    // The location of Uluru
    const uluru = { lat: {{ roaster.lat }}, lng: {{ roaster.lng }} };
    // The map, centered at Uluru
    const map = new google.maps.Map(document.getElementById("map"), {
      zoom: 12,
      center: uluru,
    });
    // The marker, positioned at Uluru
    const marker = new google.maps.Marker({
      position: uluru,
      map: map,
    });
  }
</script>

{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    <div class="col-6">
  <h1> {{roaster.name }} </h1>

  <h4> Average User Rating: {{ avg_rating }} {% if avg_rating != "No ratings yet!" %}<i class="fas fa-star"></i> {% endif %}</h4>
  <br>
  <div id="map"></div>
  <p> {{ roaster.address }} </p>
  <p> Phone: {{ roaster.phone_number }} </p>
  <p><a href="{{ roaster.website }}"> Visit Website </a> </p>
  <!-- <p>Daily Hours:</p> -->
    <!-- {% for day in schedule %}
    <p>{{ day }}</p>
    {% endfor %} -->

    {% if session['user'] %}
<button class="btn add-fav btn-dark" value="favorite" id="{{ roaster.roaster_id }}"> Add to My Favorites List </button>
<button class="btn btn-dark add-roasters" id="{{roaster.roaster_id }}"> Add to My Roasters List</button>
    {% endif %}
  </div>

    <div class="col-6">
        <div id="roaster-photos" class="carousel slide m-5" data-ride="carousel" data-pause="hover">
          <div class="carousel-inner">
            <div class="carousel-item active" data-interval="3000">
              <img src="../static/img/Title_photos/{{ roaster.place_id }}_title_photo.jpg" class="d-block w-100" alt="...">
            </div>
            {% for image in photos %}
            <div class="carousel-item" data-interval="3000">
                <img src="https://maps.googleapis.com/maps/api/place/photo?key=AIzaSyA7kGblloOwNaoFbgZlb3DNRaz-SxRG7SI&maxwidth=800&photoreference={{ image }}" class="d-block w-100" alt="...">
            </div>
            {% endfor %}

          </div>
          <a class="carousel-control-prev" href="#roaster-photos" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#roaster-photos" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>

        </div>   
      </div>
    </div>
  </div>

{% endblock %}
